/**
Defaults
**/

* {margin:0;padding:0;}
body {font-family:Helvetica,sans-serif;color:#444;font-size:16px;background:#252f39;}
ul {list-style-type: none;overflow:auto;}
img {border:0;outline:0;padding:0;margin:0;}
hr {border:0;height:1px;width:100%;}
p {line-height: 30px;}



/**
Modular Classes -- Production
**/


/* Color Scheme & Patterns */

.dkblue {background-color:#1c262f;}
.ltblue {background-color:#252f39;}

.ltgreen {background-color: #66bb3d;}
.dkgreen {background-color: #397b19;}

.slate {background-color: #f2f2f2;}
.dkgray {background-color: #333;}
.white {background-color:white;}

/* Text */
.verysmall {font-size:.8em;}
.small {font-size:.9em;}
.normal {font-size:1em;}
.large {font-size:1.2em;}
.verylarge {font-size:1.5em;}
.heading {font-size:2.25em;}

.sans {font-family: sans-serif;}
.serif {font-family: Georgia, Times, serif;}
.ptsans {font-family: 'PT Sans Caption';}

.justify {text-align: justify;}
.textcenter {text-align: center;}

.capitalize {text-transform: capitalize;}
.upper {text-transform: uppercase;}
.lower {text-transform: lowercase;}

.underline {text-decoration: underline;}
.bold {font-weight: bold;}
.normal {font-weight:normal;font-style:normal;text-decoration:none;}

.subtext {color:#a7a7a7;}
.whitetext {color:white;}
.normaltext {color:#444;}

.textshadow {text-shadow: 0 1px 0 rgba(0, 0, 0, 1);}
.squeeze {letter-spacing: -1px;}

.bullet {list-style-type:disc; }


/* Borders */
.border {border:1px solid #e0e0e0;}
.bborder {border-bottom:1px solid #e0e0e0;}
.rad3 {border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.shadow {box-shadow: 0 1px 0 rgba(0,0,0,0.15);margin-bottom:1px;}

/* Spacing */
.section {padding:100px 0px;}

.pad5 {padding:5px;}
.pad10 {padding:10px;}
.pad20 {padding:20px;}
.hpad5 {padding-left:5px;padding-right:5px;}
.hpad10 {padding-left:10px;padding-right:10px;}
.hpad20 {padding-left:20px;padding-right:20px;}
.vpad5 {padding-top:5px;padding-bottom:5px;}
.vpad10 {padding-top:10px;padding-bottom:10px;}
.vpad20 {padding-top:20px;padding-bottom:20px;}

.m10 {margin:10px;}
.m20 {margin:20px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mr10 {margin-right: 10px;}
.mr20 {margin-right: 20px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.ml10 {margin-left: 10px;}
.ml20 {margin-left: 20px;}


/* Element Behavior */
.ftlt {float:left;}
.ftrt {float:right;}

.block {display: block}
.inblock {display: inline-block;}
.none {display: none;}
.hidden {display: hidden;}

.fix {position: fixed;}
.abs {position: absolute;}
.rel {position: relative;}
.stat {position: static;}

.autoflow {overflow:auto;}

.pointer {cursor:pointer;}


/* Layout */
.fixed {width:1000px;}
.partial {max-width:1000px;width:80%;}
.fluid {width:80%;}

.center {margin:0 auto;}


/* Images */
.fill {width:100%;height:auto;min-height:200px;max-height:200px;}
.advert {opacity: 0.5;}
.advert:hover {opacity: 1;cursor: pointer;}

/* Columns */
.col {width:30%;margin-right:5%;}
li.col:nth-child(3n) {margin-right:0px;}
li.col:nth-child(3n+1):last-child {width:100%;}
li.col:nth-child(3n+1):nth-last-of-type(2),
li.col:nth-child(3n+1):nth-last-of-type(2) + li {width: 47.5%;}
li.col:last-child {margin-right:0px;}


/* Responsive Column Behavior */

@media screen and (max-width:700px) {
  .col {width:100%!important;}
  li.col {margin-bottom:40px;}
  li.col:last-child {margin-bottom: 0px;}
  ul#nav li {display:block;margin-right:0;}
}



/**
Site specific
**/

/* Header */
header a {color:#e0e0e0;text-decoration:none;}
header a:hover {color:white;}
header ul {margin-top:4px;}
#logo:hover {color:white;}
/* Items */
#entries {clear:both;overflow:auto;}
article {width:16%;margin-right:5%;margin-bottom:20px;}
article:nth-of-type(5n) {margin-right:0;}
aside {background: #f2f2f2;display:inline-block;border-radius:3px;}
ul.sort li {box-shadow: 0 1px 0 rgba(0,0,0,0.15);background:white;cursor:pointer;margin-bottom:1px;}
ul.sort li:hover {background-color:#66bb3d;box-shadow:0 1px 0 #397b19;color:white;}
#active {box-shadow:0 1px 0 #397b19;color:white;outline:0;border:0;}
/* Add item */
input {background:white;border:1px solid #c0c0c0;padding:5px;margin:0;border-radius:3px;}
input:focus {border:1px solid #27A04D;}
textarea {background:white;border:1px solid #c0c0c0;padding:5px;margin:0;border-radius:3px;}
textarea:focus {border:1px solid #27A04D;}
select#family {background:white;border:1px solid #c0c0c0;padding:5px;margin:0;border-radius:3px 3px 0 0;}
select#family:focus {border:1px solid #27A04D;}
.select-type {background:white;border:1px solid #c0c0c0;padding:5px;margin:0;border-radius:0 0 3px 3px;border-top:0;}
select:focus {border:1px solid #27A04D;border-top:0;}


/* Entries */
.add-entry {left:50%;top:50%;}