{% extends "layout.html" %}
{% block section %}
	<p>Section block!</p>
{% endblock %}
{% block body %}
	<form action="{{ url_for('add_item') }}" method="post" class="add-entry abs white rad3 pad20 none">
		<div id="step-one">
			
			<!-- Title -->
	        <h4 class="mb10">Title:</h4>
	        <input type="text" size="30" name="title">
	        
	        <!-- Description -->
	        <h4 class="mt10 mb10">Description:</h4>
	        <textarea name="text" rows="5" cols="40"></textarea>
	        
	        <h4 class="mt10 mb10">Choose Theme Type:</h4>
	        <!-- Desktop Environment -->
	        <select class="fluid" name="family" id="family">
	    		<option>Choose a DE...</option>
	        	{% for (family, genus) in sort.items() %}
				<option value="{{ family }}">{{ family }}</option>
	        	{% endfor %}
	    	</select>
	    	<br>        
	        <!-- Type -->
	        {% for (family, genus) in sort.items() %}	        
	    	<select class="select-type none fluid" name="genus" id="{{ family }}">
	    		<option>Choose a type...</option>
	    		{% for genus in sort[family] %}
				<option value="{{ genus }}">{{ genus }}</option>
	    		{% endfor %}
	    	</select>
			{% endfor %}

	        <!-- Submt -->

	    </div>
	    <div id="step-two">
	    	
	    	<!-- Theme Files -->
			<h4 class="mt10 mb10">Theme Files:</h4>
			<input type="text">

			<!-- README -->
			<h4 class="mt10 mb10">Installion Instructions:</h4>
			<textarea name="text" cols="30" rows="10"></textarea>

	    </div>
	    <div id="step-three">
	    	
			<!-- Gallery -->
			<h4 class="mt10 mb10">Image Upload:</h4>
			<input type="text">
			<br>
	        <button>Share</button>

	    </div>
	</form>
{% endblock %}