{% extends "layout.html" %}

{% block section %}

	<h2 class="inblock capitalize">{{ title }}</h2>

	<nav class="inblock">
		<ul>
			{% for genus in sort[title] %}
			<li id="{{ genus }}" class="ftlt ml20 capitalize verysmall mt5">
				<a href="/sort/{{ title }}/{{ genus }}">
					{{ genus }}
				</a>
			</li>
			{% else %}
				<p>There are currently no categories.</p>
			{% endfor %}
		</ul>
	</nav>

{% endblock %}

{% block body %}

	<div id="entries">
	{% for entry in entries %}
		<article class="ftlt white">
			<img src="{{ entry.img }}" alt="Theme image" class="fill">
			<h3 class="pad10">{{ entry.title }}</h3>
		</article>
	{% else %}
		<p>There are currently no entries.</p>
	{% endfor %}
	</div>

{% endblock %}