{% extends "layout.html" %}

{% block section %}
	<h3 class="capitalize inblock">{{ title[0] }} / </h3>
	<h3 class="capitalize inblock">{{ title[1] }}</h3>
{% endblock %}

{% block body %}

	<ul id="entries">
	{% for entry in entries %}
		<li class="ftlt white col mb20">
			<img src="{{ entry.img }}" alt="Theme image" class="fill">
			<h3 class="pad10">{{ entry.title }}</h3>
		</li>
	{% else %}
		<p>There are currently no entries.</p>
	{% endfor %}
	</ul>

	<p>Previous</p>
	<p>Next</p>

{% endblock %}