{% extends "layout.html" %}
{% block section %}

	<h3>Welcome to RefreshYourDE!</h3>

{% endblock %}
{% block body %}

	<ul id="entries">
	{% for entry in entries %}
		<li class="ftlt white col mb20">
			<img src="{{ entry.img }}" alt="Theme image" class="fill">
			<h3 class="pad10">{{ entry.title }}</h3>
		</li>
	{% else %}
		<p class="mb20">There are currently no entries.</p>
	{% endfor %}
	</ul>

	<p class="inblock hpad10 ltgreen whitetext rad3 bold verysmall">Previous</p>
	<p class="ftrt hpad10 ltgreen whitetext rad3 bold verysmall">Next</p>

{% endblock %}