<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<!-- Title -->
	<title>Document</title>
	
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	<!-- Fonts -->


</head>
<body>
	<header class="autoflow ltblue">
		<a href="/" style="color:#86939c;">
			<h3 id="logo" class="ftlt pad20 dkblue textshadow">RefreshYourDE</h3>
		</a>		
		<nav class="ftlt upper bold verysmall mt20">
			<ul class="inblock">
			{% for link in config.sort %}
				<li class="inblock ml20"><a href="/sort/{{link}}">{{link}}</a></li>
			{% endfor %}
			</ul>
		</nav>		
		<a id="active" class="ftrt rad3 pad5 mr20 ltgreen pointer small bold" style="margin-top:16px;">Contribute</a>

		<div id="black" class="none"></div>

		<form action="{{ url_for('add_item') }}" method="post" class="add-entry abs white rad3 pad20 none">
			<div id="step-one">
				
				<!-- Title -->
		        <h4 class="mb10">Title:</h4>
		        <input type="text" size="30" name="title">
		        
		        <!-- Description -->
		        <h4 class="mt10 mb10">Description:</h4>
		        <textarea name="text" rows="5" cols="40"></textarea>
		        
		        <h4 class="mt10 mb10">Choose Theme Type:</h4>
		        <!-- Desktop Environment -->
		        <select class="fluid" name="family" id="family">
		    		<option>Choose a DE...</option>
		        	{% for (family, genus) in config.sort.items() %}
					<option value="{{ family }}">{{ family }}</option>
		        	{% endfor %}
		    	</select>
		    	<br>        
		        <!-- Type -->
		        {% for (family, genus) in config.sort.items() %}	        
		    	<select class="select-type fluid" name="genus" id="{{ family }}">
		    		<option>Choose a type...</option>
		    		{% for genus in config.sort[family] %}
					<option value="{{ genus }}">{{ genus }}</option>
		    		{% endfor %}
		    	</select>
				{% endfor %}

		        <!-- Submt -->

		    </div>
		    <div id="step-two">
		    	
		    	<!-- Theme Files -->
				<h4 class="mt10 mb10">Theme Files:</h4>
				<input type="text">

				<!-- README -->
				<h4 class="mt10 mb10">Installion Instructions:</h4>
				<textarea name="text" cols="30" rows="10"></textarea>

		    </div>
		    <div id="step-three">
		    	
				<!-- Gallery -->
				<h4 class="mt10 mb10">Image Upload:</h4>
				<input type="text">
				<br>
		        <button>Share</button>

		    </div>
		</form>

	</header>
	<section class="pad20 slate">
		<div class="partial center">
			{% block section %}
			{% endblock %}
		</div>
	</section>
	<main class="pad20 slate">
		<div class="partial center">
			{% block body %}
			{% endblock %}
		</div>
	</main>
	<footer class="pad20 autoflow white" style="border-top:1px solid #e0e0e0">
		<div class="partial center">
			<ul>
				<li class="col ftlt">Half the page</li>
				<li class="col ftlt">
					<ul>
						<li class="ftlt col">
							<h5>Environment</h5>	
							{% for link in config.sort %}
								<a href="#">{{ link }}</a>
							{% endfor %}
						</li>
						<li class="ftlt col">
							<h5>Advertisement</h5>	
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</footer>
</body>
</html>