<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<!-- Title -->
	<title>Document</title>
	
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Styles -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	<!-- Fonts -->


</head>
<body>
	<header class="autoflow ltblue">
		<a href="/" style="color:#86939c;">
			<h3 id="logo" class="ftlt pad20 dkblue textshadow">RefreshYourDE</h3>
		</a>		
		<nav class="ftlt upper bold verysmall mt20">
			<ul class="inblock">
				<li class="inblock ml20"><a href="/sort/gnome">Gnome</a></li>
				<li class="inblock ml20"><a href="/sort/kde">KDE</a></li>
				<li class="inblock ml20"><a href="/sort/xfce">XFCE</a></li>
				<li class="inblock ml20"><a href="/sort/elementary">Elementary</a></li>
				<li class="inblock ml20"><a href="/sort/mint">Mint</a></li>
			</ul>
		</nav>		
		<a id="active" class="ftrt rad3 pad5 mr20 ltgreen pointer small bold" style="margin-top:16px;">Contribute</a>
	</header>
	<section class="pad20 white">
		<div class="partial center">
			{% block section %}
			{% endblock %}
		</div>
	</section>
	<main class="pad20 slate">
		<div class="partial center">
			{% block body %}
			{% endblock %}
		</div>
	</main>
	<footer class="pad20 autoflow white" style="border-top:1px solid #e0e0e0">
		<div class="partial center">
			<ul>
				<li class="ftlt col">
					<h4>Explore by Environment</h4>	
					{% for links in sort %}
					<a href="#">{{ links }}</a>
					{% endfor %}
				</li>
				<li class="ftlt col">
					<h4>Explore by Type</h4>	
				</li>
				<li class="ftlt col">
					<h4>RefreshYourDE</h4>	
				</li>
			</ul>
		</div>
	</footer>
</body>
</html>